samtools
bedtools 
bowtie2
picard
samtools
deeptools
setuptools
pandas
1.80 < numpy < 1.24
argparse
os
shutil
multiprocessing
matplotlib
seaborn
plotnine==0.10.1
scipy
pathlib
re
glob
subprocess
scikit-learn


